{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
{% endblock %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div id="app">
        <App />
    </div>
{% endblock %}
